.profile-picture {
  display: flex;
  width: 125px;
  height: 125px;

  border-radius: 75px;
  background-image: url("../../../../assets/images/me.png");
  background-position: center;
  background-size: cover;
}
