@font-face {
  font-family: coolvetica;
  src: url("../assets/fonts/coolvetica/coolvetica/coolvetica\ rg.otf");
}

/* PROJECT COLORS */
$black-1: #232528;

$white-5: #eaf6ff;

$blue-1: #2a2a72;
$blue-2: #2f52e0;
$blue-3: #009ffd;

$orange-2: #ffa400;

* {
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

body {
  font-family: coolvetica;
  background-color: $black-1;
  color: $white-5;
}

select,
*:focus {
  outline: none;
}

svg {
  pointer-events: none;
}

button,
a {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
