@font-face {
  font-family: libertine;
  src: url("../assets/fonts/libertine/linux_libertine/LinLibertine_R.ttf");
}

@font-face {
  font-family: libertine-bold;
  src: url("../assets/fonts/libertine/linux_libertine/LinLibertine_RB.ttf");
}

* {
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

body {
  font-family: libertine;
}

select,
*:focus {
  outline: none;
}

svg {
  pointer-events: none;
}

button,
a {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
